{% comment %}
  collection.ajax.liquid
{% endcomment %}
 {% layout none %}
 {% for product in collection.products %}
   <li
        class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} product-card"
        data-featured = "{{ data_featured }}"
        data-product-id="{{ product.id }}"
        {% if settings.animations_reveal_on_scroll %}
        data-cascade
        style="--animation-order: {{ forloop.index }};"
        {% endif %}
    >
        {% render 'card-product',
        card_product: product,
        media_aspect_ratio: section.settings.image_ratio,
        image_shape: section.settings.image_shape,
        show_secondary_image: section.settings.show_secondary_image,
        show_vendor: section.settings.show_vendor,
        show_rating: section.settings.show_rating,
        lazy_load: lazy_load,
        skip_styles: skip_card_product_styles,
        quick_add: section.settings.quick_add,
        section_id: section.id
        %}
    </li>
{% endfor %}